#divP{
    display: inline-block;
    border-color: #a51633b0;
    border-style: ridge;
    padding: 35px 125px 125px 35px;
}

#subDivs{
    padding-left: 15px; 
    padding-top: 15px; 
    padding-bottom: 15px;
    padding-right: 15px;
    width: 45%; 
    float: left;
    border-width: 3px;
    border-color: #dc3545;
    border-style: ridge;
    margin: 10px;
    border-radius: 25px;
}

#importantDiv{
    padding-left: 15px; 
    padding-top: 15px; 
    padding-bottom: 15px;
    padding-right: 15px;
    width: 92%; 
    float: left;
    border-width: 3px;
    border-color: #dc3545;
    border-style: ridge;
    margin: 10px;
    border-radius: 25px;
}

@media only screen and (max-width: 600px) {
    #subDivs{ 
        padding-top: 15px; 
        width: 100%; 
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
    }
}