<div class="container">

    <header class="jumbotron">
        <h2 style="text-align: center;"> Cleiton - Operating Systems</h2>
     </header>
   
            <div id="importantDiv" class="border-dark">
                <h4>This task's important</h4>
                <button type="button" class="btn btn-danger">Deliver Task</button>
                <p style="float: right;">Final Date: 29/11</p>
            </div>

            <div id="subDivs">
                <h4>Task's name</h4>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deliverModal">Deliver Task</button>
                <p style="float: right;">Final Date: 29/11</p>
            </div>

            <div id="subDivs">
                <h4>INICIALIZAÇÃO DE SISTEMAS OPERACIONAIS</h4>
                <button type="button" class="btn btn-danger">Deliver Task</button>
                <p style="float: right;">Final Date: 29/11</p>
            </div>

            <div id="subDivs">
                <h4>Task's name</h4>          
                <button type="button" class="btn btn-danger">Deliver Task</button>
                <p style="float: right;">Final Date: 29/11</p>
            </div>

            <div id="subDivs">
                <h4>Task's name</h4>          
                <button type="button" class="btn btn-danger">Deliver Task</button>
                <p style="float: right;">Final Date: 29/11</p>
            </div>

            <div id="subDivs">
                <h4>Task's name</h4>
                <button type="button" class="btn btn-danger">Deliver Task</button>
                <p style="float: right;">Final Date: 29/11</p>
            </div>
            
    </div>