#divP{
    display: inline-block;
    border-color: #a51633b0;
    border-style: ridge;
    padding: 35px 125px 125px 35px;
}

#subDivs{
    padding-left: 150px; 
    padding-top: 15px; 
    width: 45%; 
    float: left;
}

@media only screen and (max-width: 600px) {
    #subDivs{
        padding-left: 10px; 
        padding-top: 15px; 
        width: 100%; 
    }
}