    <div class="container">

        <header class="jumbotron">
          <h2 style="text-align: center;">Programming</h2>
        </header>
        
        <div style=" padding-left: 150px; padding-top: 15px; width: 45%; float: left;">
            <h4>Task's name</h4>
            <button type="button" class="btn btn-danger">Deliver Task</button>
            <p style="float: right;">Final Date: 29/11</p>
        </div>

        <div style=" padding-left: 150px; padding-top: 15px; width: 45%; float: left;">
            <h4>Task's name</h4>
            <button type="button" class="btn btn-danger">Deliver Task</button>
            <p style="float: right;">Final Date: 29/11</p>
        </div>

        <div style=" padding-left: 150px; padding-top: 15px; width: 45%; float: left;">
            <h4>Task's name</h4>          
            <button type="button" class="btn btn-danger">Deliver Task</button>
            <p style="float: right;">Final Date: 29/11</p>
        </div>

    </div>