
#buttonLogIn{
    margin-top: 20px;
}

#divP{
    display: inline-block;
    padding: 40px;
    border-width: 3px;
    border-color: #a51633b0;
    border-style: ridge;
    border-radius: 25px;
}

@media only screen and (max-width: 600px) {
    #divP{
        height: 320px;
    }
}