<form>
    <div style="text-align: center;" >
        <div id="divP" class="bg-danger">
            <h1 style="padding: 15px;">Login</h1>
            <div class="form-group">
                <input style="float: left;" type="text" class="btn bg-white form-control input-sm" placeholder="RA/CPF">   
                <input style="float: left;" type="password" class="btn bg-white form-control input-sm" placeholder="Password">
            </div> 
            <button id="buttonLogIn" class="btn btn-dark">Log-in</button>
        </div>
    </div>  
</form>  