#inputs {
    text-align: center;
    margin-top: 35px;
    height: 30px;
}

#buttonLogIn{
    margin-top: 20px;
}

#divP{
    display: inline-block;
    padding: 35px;
    border-color: #a51633;
    border-style: ridge;
}

@media only screen and (max-width: 600px) {
    #divP{
        height: 320px;
    }
}