<header style="height: 20px; width: 100%;" id="grad2"></header>
<header style="height: 50px; width: 100%;" id="grad">
        <img id="topImage" src="assets/img/LogoMoodleCabecalho.png">   
</header>
<header style="height: 50px; width: 100%;" id="grad2">
</header>

<div id="divP">

    <h1 id="loginText">Login</h1>

    <div id="inputs">
        <input type="text" placeholder="RA">
    </div>    
    <div id="inputs">
        <input type="password" placeholder="Password">
    </div>

    <input type="button" value="Log-in" id="buttonLogIn">
</div>

<footer id="footer">
    <div style="height: 15px; background-image: linear-gradient(to top,#dc143c, #a51633);"></div>
    <div style="height: 120px;">
            <img id="bottomImage" src="assets/img/LogoMoodleRodape.png" width="183" height="80" alt="LogoMoodleRodapé">
    </div>
</footer>