<header style="height: 20px; width: 100%;" id="grad2"></header>
    <header style="height: 50px; width: 100%;" id="grad">
            <img id="topImage" src="assets/img/LogoMoodleCabecalho.png">   
    </header>
    <header style="height: 50px; width: 100%; margin-bottom: 50px;" id="grad2">        
</header>

<hr style="margin-bottom: 100px;">

<router-outlet></router-outlet>

<hr style="margin-top: 100px;">

<footer id="footer" style="margin-top: 50px;">
    <div style="height: 15px; background-image: linear-gradient(to top,#dc143c, #a51633);"></div>
    <div style="height: 120px;">
            <img id="bottomImage" src="assets/img/LogoMoodleRodape.png" width="183" height="80" alt="LogoMoodleRodapé">
    </div>
</footer>