<div class="container">
    <div class="row">
        
        <div class="col-lg-3">
            <div class="container jumbotron">
                <h2>Latest activities</h2>
                <hr class="my-4">

                - <i class="fa fa-file-archive-o"></i>
                <a href="#" class="stretched-link;"> .Trab Roberto</a>

                <p></p>

                <p>
                    - <i class="fa fa-file-archive-o"></i>
                    <a href="#" class="stretched-link;"> .Ativ Cleiton</a>
                </p>

                <p>
                    - <i class="fa fa-file-archive-o"></i>
                    <a href="#" class="stretched-link;"> .Exercicios Mat</a>
                </p>

                <p>
                    - <i class="fa fa-file-archive-o"></i>
                    <a href="#" class="stretched-link;"> .Thiago trab</a>
                </p>

                <p>
                    - <i class="fa fa-file-archive-o"></i>
                    <a href="#" class="stretched-link;"> .Trab Roberto</a>
                </p>
            </div>

        </div>

        <div class="col-lg-7">
            <div class="container jumbotron">
                <h2>Operational systems</h2>
                <hr class="my-4">
                <p>seila seila seila seila seila seila seila seila seila seila seila seila
                    seila seila seila seila </p>
                <p>bah tche bah tche bah tche bah tche bah tche bah tche bah tche bah tche
                    bah tche bah tche bah
                </p>
                <button type="button" class="btn btn-danger" style="margin:5px;">Documents</button>
                <button type="button" class="btn btn-danger" style="margin:5px;">activities</button>
            </div>

            <div class="container jumbotron">
                <h2>Programing</h2>
                <hr class="my-4">
                <p>seila seila seila seila seila seila seila seila seila seila seila seila
                    seila seila seila seila </p>
                <p>bah tche bah tche bah tche bah tche bah tche bah tche bah tche bah tche
                    bah tche bah tche bah
                </p>
                <button type="button" class="btn btn-danger" style="margin:5px;">Documents</button>
                <button type="button" class="btn btn-danger" style="margin:5px;">activities</button>
            </div>

            <div class="container jumbotron">
                <h2>Software Engineering</h2>
                <hr class="my-4">
                <p>seila seila seila seila seila seila seila seila seila seila seila seila
                    seila seila seila seila </p>
                <p>bah tche bah tche bah tche bah tche bah tche bah tche bah tche bah tche
                    bah tche bah tche bah
                </p>
                <button type="button" class="btn btn-danger" style="margin:5px;">Documents</button>
                <button type="button" class="btn btn-danger" style="margin:5px;">activities</button>
            </div>

            <div class="container jumbotron">
                <h2>Operational systems</h2>
                <hr class="my-4">
                <p>seila seila seila seila seila seila seila seila seila seila seila seila
                    seila seila seila seila </p>
                <p>bah tche bah tche bah tche bah tche bah tche bah tche bah tche bah tche
                    bah tche bah tche bah
                </p>
                <button type="button" class="btn btn-danger" style="margin:5px;">Documents</button>
                <button type="button" class="btn btn-danger" style="margin:5px;">activities</button>
            </div>

            <div class="container jumbotron">
                <h2>Math</h2>
                <hr class="my-4">
                <p>seila seila seila seila seila seila seila seila seila seila seila seila
                    seila seila seila seila </p>
                <p>bah tche bah tche bah tche bah tche bah tche bah tche bah tche bah tche
                    bah tche bah tche bah
                </p>
                <button type="button" class="btn btn-danger" style="margin:5px;">Documents</button>
                <button type="button" class="btn btn-danger" style="margin:5px;">activities</button>
            </div>
        </div>

    </div>
</div>