<div>
    <header class="jumbotron container">
        <h2 style="text-align: center;">Programming</h2>
      </header>


      

        <div id="divis">
            <div id="subDivs">
                <h3>First operating system story</h3>
                <i style="margin-left: 50px;font-size:30px" class="fa">&#xf1c4;</i>
                <a href="#" class="stretched-link;">  Map 3 HISTORY OF OPERATING SYSTEMS</a>
                <hr class="my-4">
            </div>
        </div>

        <div id="divis">
            <div id="subDivs">
                <h3>Class on all major operating system types</h3>
                <i style="margin-left: 50px; font-size:30px" class="fa">&#xf1c4;</i> 
                <a href="#" class="stretched-link;">  Map 2 INTRODUCTION TO OPERATING SYSTEMS</a>
                <hr class="my-4">
            </div>
        </div>

        <div id="divis">
            <div id="subDivs">
                
                <h3>Lesson on all types of operating systems</h3>
                <i style=" margin-left: 50px; font-size:30px" class="fa">&#xf1c4;</i>
                <a href="#" class="stretched-link;">  Map 1 TYPES OF OPERATING SYSTEMS</a>
                <hr class="my-4">
            </div>
        </div>

        <div id="divis">
            <div id="subDivs">
                <h3>Subject induction class</h3>
                <i  style="margin-left: 50px; font-size:30px"  class="fa">&#xf1c4;</i> 
                <a  href="#" class="stretched-link;"> TEACHING PLAN</a>
                <hr class="my-4">
            </div>
        </div>

</div>